{% extends "base.html" %}
{% load static %}
{% block titulo %}
    Home
{% endblock %}

{% block estilo %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/servico_editar.css' %}"/>
{% endblock estilo %}

{% block conteudo %}
    <div class="container my-4 espaco-inicio">
        <div class="block">

            <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 text-center font-weight-normal">Faça login</h1>

            {% if form.non_field_errors %}
                <div class='row mt-1 mb-3'>
                    <div class='col-sm-6'>
                        <ul class='list-group' style='padding-top: 0px; padding-bottom: 0px;'>
                            {% for error in form.non_field_errors %}
                                <li style='padding-top: 7px; padding-bottom: 7px;'
                                    class='list-group-item list-group-item-danger'>
                                    {{ error }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class='col-sm-6'></div>
                </div>
            {% endif %}
            <form class="form-signin" action="{% url 'autenticacao:login' %}" method='POST' novalidate>
                <div class="form-group">
                    <label for="id_username" class="sr-only">Nome de usuário</label>
                    <div class='col-lg-5  mx-auto'>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class='alert alert-danger mb-0'
                                 style='padding-top: 2px; padding-bottom: 2px;'>
                                {% for error in form.username.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="sr-only">Senha</label>
                    <div class='col-lg-5  mx-auto'>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class='alert alert-danger mb-0'
                                 style='padding-top: 2px; padding-bottom: 2px;'>
                                {% for error in form.password.errors %}
                                    <small>{{ error }}</small>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    {#                    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>#}
                </div>
                {#                <div class="checkbox mb-3 align-content-center">#}
                {#                    <label>#}
                {#                        <input type="checkbox" value="remember-me"> Lembrar de mim#}
                {#                    </label>#}
                {#                </div>#}

                <div class='form-group row'>
                    <div class='col-lg-12 text-center'>
                        {% csrf_token %}
                        <input type='hidden' name='next' value='{{ next }}'>
                        <button type='submit' class='btn btn-outline-primary'>
                            <i class='fas fa-sign-in-alt'></i> Log in
                        </button>
                    </div>
                    {#                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>#}
            </form>
        </div>
    </div>
{% endblock %}

{% block domready %}

{% endblock %}