{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Fale Conosco
{% endblock %}

{% block estilo %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contato.css' %}"/>
{% endblock estilo %}

{% block conteudo %}
    {% static "images" as baseUrl %}
    <header id="header" class="mb-4 pt-4 mt-5">
        <img class="d-block w-100" src="{{ baseUrl }}/floral.png" alt="Fale Conosco">
    </header>
    <div class="container my-4">
        <div class="block">
            <div class="row">
                <div class="col-12 pb-4 pt-2">
                    <h4 id="duvidas" class="mb-0 pt-1 pb-4 ">Tire suas dúvidas:</h4>
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <label for="primeiroNome">Nome</label>
                                <input type="text" class="form-control" id="primeiroNome" placeholder="" value=""
                                       required>
                                <div class="invalid-feedback">
                                    É obrigatório inserir um nome válido.
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 mb-3">
                                <label for="sobrenome">Sobrenome</label>
                                <input type="text" class="form-control" id="sobrenome" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    É obrigatório inserir um sobre nome válido.
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="mb-3">
                                    <label for="email">Email <span class="text-muted"></span></label>
                                    <input type="email" class="form-control" id="email" placeholder="fulano@exemplo.com"
                                           required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um endereço de e-mail válido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="mb-3">
                                    <label for="telefone">Telefone <span class="text-muted"></span></label>
                                    <input type="tel" class="form-control" id="telefone" placeholder="(xx)xxxx-xxxx"
                                           required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um telefone válido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="mb-3">
                                    <label for="whatsapp">WhatsApp <span class="text-muted"></span></label>
                                    <input type="tel" pattern="\d{11}$" class="form-control" id="whatsapp"
                                           placeholder="(xx)xxxxx-xxxx"
                                           required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um telefone válido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="assunto">Assunto <span class="text-muted"></span></label>
                                    <input type="text" class="form-control" id="assunto"
                                           placeholder="Ex: Tempo de consulta"
                                           required>
                                    <div class="invalid-feedback">
                                        Por favor, insira o assunto.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="duvida">Dúvida <span class="text-muted"></span></label>
                                    <textarea type="text" class="form-control" id="duvida"
                                              placeholder="Digite a sua dúvida" rows="3"
                                              required></textarea>
                                    <div class="invalid-feedback">
                                        Por favor, a sua dúvida.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" align="center">
                                <button type="button" type="submit" class="btn btn-secondary btn-lg text-center"><i
                                        class="fa fw fa-paper-plane"></i> Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--                <hr class="my-4">-->
                    <div class="row pt-4">
                        <div class="d-md-flex flex-md-equal py-4 col-12 p-0 w-100 my-md-3">
                            <div class="bg-dark pt-3 w-100 pt-md-5 text-center text-white overflow-hidden"
                                 style="border-radius: 21px;">
                                <div class="my-2 py-2">
                                    <h2 class="display-5">Agende Gratuitamente uma Avaliação</h2>
                                    <p class="lead">Preencha os dados que, assim que possível, entraremos em contato</p>
                                    <form>
                                        <div class="row mx-4 my-3">
                                            <div class="col">
                                                <input type="text" class="form-control" placeholder="Digite o seu nome">
                                            </div>
                                            <div class="col">
                                                <input type="email" class="form-control"
                                                       placeholder="Digite o seu e-mail">
                                            </div>
                                            <div class="col">
                                                <input type="text" class="form-control"
                                                       placeholder="Digite o seu telefone">
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-lg">Agende aqui</button>
                                    </form>
                                </div>
                                <!--        <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <img src="assets/images/panoramica1.jpg">  -->
        </div>

    </div>
{% endblock conteudo %}
