{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Pacotes
{% endblock %}

{% block estilo %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pacotes.css' %}"/>
{% endblock estilo %}

{% block conteudo %}
    {% static "images" as baseUrl %}

    {#    <header id="header" class="mb-4" style="margin-top: 120px;">#}
    {#        <img class="d-block w-100" src="{{ baseUrl }}/carousel-facial.png" alt="Tratamentos Faciais">#}
    {#    </header>#}
    <div class="container mb-4" style="margin-top: 130px;">
        <h4 id="procedimentos" class="mb-0 pt-4 pb-4">Nossos procedimentos:</h4>
        {% if messages %}
            <div class="row mb-3">
                <div class="col-12">
                    {% for message in messages %}
                        <ul class="list-group rounded {{ message.tags }}">
                            {# Supondo a utilização de apenas info e danger #}
                            <li style="padding-top: 7px; padding-bottom: 7px;"
                                class="list-group-item list-group-item-{% if message.tags == 'info' %}info{% else %}danger{% endif %}">
                                {{ message }}
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row mb-4">
            {% for servico, form_servico in lista_forms %}
                <div class="col-md-6 col-lg-4 ">
                    <div class="card tamanho-card shadow mt-3">
                        <img class="card-img-top tamanho-foto-card" src="{{ baseUrl }}/{{ servico.imagem }}"
                             alt="servico-img">
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h5>{{ servico.nome }}</h5>
                                <p class="text-secondary font-weight-bold">R${{ servico.preco }}</p>
                                <div class="row">
                                    <div class="offset-4 col-4">
                                        {#                                        <input id="qtd" class="form-control" type="number" min="0" name="qtd">#}

                                        <form id="form" action="{% url 'estetica:adicionar_ao_carrinho' %}"
                                              method="POST" novalidate>
                                            {% csrf_token %}
                                            {{ form_servico.quantidade }}
                                        </form>
                                        {% if form_servico.tipo.errors %}
                                            <div class="alert alert-danger mb-0"
                                                 style="padding-top: 2px; padding-bottom: 2px;">
                                                {% for error in form_servico.qtd.errors %}
                                                    <small>{{ error }}</small>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 pt-2">
                                        <button id="botao" class="btn btn-sm btn-secondary pt-1">Adicionar <i
                                                class="fas fa-cart-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            {#                            <p class="card-text text-justify">{{ destaque.descricao }}</p>#}
                        </div>
                        <div class="card-footer">
                            <div class="text-right">
                                <button class="btn btn-outline-secondary btn-sm"
                                        onclick="location.href='{% url 'estetica:facial' %}#{{ servico.tag }}';">
                                    Mais informações...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='row' style='font-size: 14px;'>
            <div class='col-12 pt-4'>
                {% if servicos.has_other_pages %}
                    <ul class='pagination justify-content-center'>
                        {% if servicos.has_previous %}
                            <li class='page-item'><a class='page-link'
                                                     href='?pagina={{ servicos.previous_page_number }}'>Anterior</a>
                            </li>
                        {% else %}
                            <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a>
                            </li>
                        {% endif %}
                        {% for i in servicos.paginator.page_range %}
                            {% if servicos.number == i %}
                                <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                            {% else %}
                                <li class='page-item'><a class='page-link'
                                                         href='?pagina={{ i }}'>{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if servicos.has_next %}
                            <li class='page-item'><a class='page-link'
                                                     href='?pagina={{ servicos.next_page_number }}'>Próxima</a>
                            </li>
                        {% else %}
                            <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>

    </div>


    <!-- <img src="assets/images/panoramica1.jpg">  -->
{% endblock conteudo %}

{% block domready %}

    $("#botao").click(function() {
    $("#form").append('{{ servico.id }}')
    $("#form").append('{{ form_servico.quantidade }}')
    $("#form").submit()
    })
{% endblock %}
