{% extends "base.html" %}

{% load static %}

{% block estilo %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/servico_editar.css' %}"/>
{% endblock %}

{% block titulo %}
    Lista de Serviços
{% endblock %}


{% block conteudo %}
    <div class="container my-4 espaco-inicio">
        <div class="block">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col p-0">
                            <h4 class="my-3">Lista de Serviços</h4>
                        </div>
                        <div class="col-auto p-0">
                            <a class="btn btn-outline-secondary mb-2"
                               href="{% url 'estetica:cadastro' %}">Novo</a>

                        </div>
                    </div>
                    <hr class="mb-5">
                </div>
                <div class="col-12">
                    <form type="get" action="{% url 'estetica:pesquisa' %}" style="margin: 0">
                        <div class="input-group mb-3">
                            {#                            <input id="input-pesquisa" name="input-pesquisa" type="text" class="form-control"#}
                            {#                                   placeholder="Pesquise pelo nome do serviço">#}
                            {{ form.nome }}
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit" id="botao-pesquisa">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            {% if messages %}
                <div class="row mb-3">
                    <div class="col-12">
                        {% for message in messages %}
                            <ul class="list-group rounded {{ message.tags }}">
                                {# Supondo a utilização de apenas info e danger #}
                                <li style="padding-top: 7px; padding-bottom: 7px;"
                                    class="list-group-item list-group-item-{% if message.tags == 'info' %}info{% else %}danger{% endif %}">
                                    {{ message }}
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <table class="table table-borderless">
                <thead>
                {% if servicos %}
                    <tr>
                        <th scope="col">Serviço</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Cadastrado por</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                {% endif %}

                </thead>
                <tbody>
                {% for servico in servicos %}
                    <tr class="">
                        <td class="pt-3">{{ servico.nome }}</td>
                        <td class="pt-3">{{ servico.tipo.nome }}</td>
                        <td class="pt-3">{{ servico.user }}</td>
                        <td class="pt-3">{{ servico.id }}</td>
                        <td class="pt-3">
                            <a id="botao_editar" href="{% url 'estetica:servico_editar' servico.id %}"
                               class="btn btn-outline-success mr-3">
                                Editar
                            </a>
                        </td>
                        <td class="pt-3">
                            {% if user.username|stringformat:"s" == servico.user|stringformat:"s" %}
                                <form id="form_remover" action="{% url 'estetica:servico_remover' servico.id %}"
                                      method="POST"
                                      enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    <button id="botao_remover" class="btn btn-outline-danger">
                                        Remover
                                    </button>
                                </form>
                            {% else %}
                                Não tem permissão
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class='row' style='font-size: 14px;'>
                <div class='col-12 pt-4'>
                    {% if servicos.has_other_pages %}
                        <ul class='pagination justify-content-center'>
                            {% if servicos.has_previous %}
                                <li class='page-item'><a class='page-link'
                                                         href='?pagina={{ servicos.previous_page_number }}&nome={{ nome }}'>Anterior</a>
                                </li>
                            {% else %}
                                <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a>
                                </li>
                            {% endif %}
                            {% for i in servicos.paginator.page_range %}
                                {% if servicos.number == i %}
                                    <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                                {% else %}
                                    <li class='page-item'><a class='page-link'
                                                             href='?pagina={{ i }}&nome={{ nome }}'>{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if servicos.has_next %}
                                <li class='page-item'><a class='page-link'
                                                         href='?pagina={{ servicos.next_page_number }}&nome={{ nome }}'>Próxima</a>
                                </li>
                            {% else %}
                                <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock conteudo %}

{#{% block domready %}#}
{#    $("#botao").click(function() {#}
{#    console.log("passei aqui")#}
{#    $("#form").append('{{ form.servico_id }}')#}
{#    $("#form").submit()#}
{#    })#}
{#{% endblock domready %}#}